body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr min-content;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}
.header {
    padding: 25px 0 25px 0;
    background-color: lightgray;
    border-bottom: gray solid 2px;
    margin: 0 0 35px 0;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        text-decoration: none;
        font-weight: 800;
        font-size: 40px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn__cart {
        cursor: pointer;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
        padding: 8px 20px;
        border: none;
        outline: 1px solid gray;
        &:hover {
            background-color: white;
        }
    }
}
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 35px;
    &__item {
        box-sizing: border-box;
        width: 30%;
        border: solid 1px gray;
        padding: 0 0 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            opacity: 1;
        }
        &__heading {
            text-decoration: none;
            color: black;
            &:hover {
                opacity: 0.6;
            }
        }    
        &__price {
            font-weight: 500;
            font-size: 30px;
        }
        &__btn {
            cursor: pointer;
            padding: 8px 20px;
            border: none;
            background-color: lightgrey;
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            outline: 1px solid gray;
            &:hover {
                background-color: white;
                outline: 1px solid lightgrey;
            }
        }
    }   
}
.footer {
    background-color: lightgrey;
    padding: 25px 0 25px 0;
    border-top: 2px solid gray;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        font-size: 20px;
        font-weight: 600;
    }
    &__right {
        display: flex;
        gap: 10px;
    }
    &__icon {
        font-size: 30px;
        color: black;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}